<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, "Titolo", class: "col-md-2 control-label" %>
    <div class="col-md-10"> 
      <%= f.text_field :title, class: "form-control", placeholder:"Title Event" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :body, "Body", class: "col-md-2 control-label" %><br>
    <div class="col-md-10">
      <%= f.text_area :body, class: "form-control", placeholder:"Body event" %>
    </div>
  </div>
    
    <div class="col-md-2"> 
      <%= f.submit class: "btn btn-default" %>
    </div>

<% end %>
