<%= provide(:title, "Events")%>

<div class="col-md-12">
<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.id%></td>
        <td><%= event.title %></td>
        <td><%= event.body %></td>
          
        <td><%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, event %></td>
        <td><%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_event_path(event) %></td>
        <td><%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path, class: "btn btn-default" %>
<br>
<!--
<#%= link_to 'Last Event', last_event_path%>
-->
</div>
