<%= provide(:title, "#{@event.title}")%>



<p id="notice"><%= notice %></p>

<div class="col-md-6">  

  <h4><%= @event.title %></h4>

  <p>
    <%= @event.body %>
  </p>

  <hr>

  <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-default" %> |
  <%= link_to 'Back', events_path, class: "btn btn-default" %>

</div>
