<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  
  <hr/>
  <div class="field">
    <% Tag.all.each do |tag|%>
    <div class="checkbox">
      <%= check_box_tag "post[tag_ids][]", tag.id, @post.tags.include?(tag) %>              
      <%= tag.name %>
    </div>
    <%end%>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
