<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- NavBar -->
<%= render partial: "shared/menu"%>
<!-- NavBar -->


<div class="container">
  <div class="row"> 
    <%= yield %>
  </div>
</div>

</body>
</html>
